jmespath==0.10.0
lark-parser>=0.10.1
python-dateutil==2.8.1
pyyaml==5.4.1

# Transitive Dependencies
requests==2.25.1  # Failed with 2.24.0
urllib3==1.26.4  # Failed with 1.25.11
babel==2.9.0  # Failed with 2.8.0
